{% extends 'PlantillaBaseListas.html' %}
{% block title %}::Administrar Usuario::{% endblock %}
{% block TituloMenu %}ADMINISTRACION DE USUARIOS{% endblock %}
{% block TituloLista %}Lista de Usuario{% endblock %}
{% block Columnas %}
    <tr>
        <th scope="col" class="rounded">Código</th>
		<th scope="col" class="rounded">Nombre</th>
		<th scope="col" class="rounded"></th>
        <th scope="col" class="rounded"></th>
        <th scope="col" class="rounded"></th>
	</tr>
{% endblock %}
{% block MostrarDatos %}
    {% for usuario in lista_usuarios %}
		    <tr>
		        <td>{{ usuario.id }}</td>
		        <td>{{ usuario.nombre }}</td>
                <td>
                    <form action="/proyecto/usuario/editar/" method="post">{% csrf_token %}
                        <input type="hidden" name='codigo' value="{{ usuario.id }}" >
                        <input type="hidden" name='login' value={{ logueado.id }} >
                        <input type="submit" value="Editar"><br>
                    </form>
                </td>
		        <td>
                    <form action="/proyecto/usuario/eliminar/" method="post">{% csrf_token %}
                        <input type="hidden" name='codigo' value="{{ usuario.id }}" >
                        <input type="hidden" name='login' value={{ logueado.id }} >
                        <input type="submit" value="Eliminar"><br>
                    </form>
		        </td>
                <td>
                    <form action="/proyecto/usuario/mostrar/" method="post">{% csrf_token %}
                        <input type="hidden" name='codigo' value="{{ usuario.id }}" >
                        <input type="hidden" name='login' value={{ logueado.id }} >
                        <input type="submit" value="Mostrar"><br>
                    </form>
		        </td>
		    </tr>
    {% endfor %}
{% endblock %}
{% block Botones%}
    <form action= "/proyecto/usuario/crear/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="Crear">
    </form>
    <form action="/proyecto/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="<Menú Inicio"><br>
    </form>
{% endblock %}