{% extends 'PlantillaBaseListas.html' %}
{% block title %}::Administrar Usuario::{% endblock %}
{% block TituloMenu %}ADMINISTRACION DE USUARIOS{% endblock %}
{% block MigasDePan %}>>>Inicio>>Usuarios{% endblock %}
{% block TituloLista %}Lista de Usuario{% endblock %}
{% block Columnas %}
    <tr>
        <center><th scope="col" class="rounded">Código</th></center>
		<center><th scope="col" class="rounded">Nombre</th></center>
		<center><th scope="col" class="rounded">Editar</th></center>
        <center><th scope="col" class="rounded">Eliminar</th></center>
        <center><th scope="col" class="rounded">Informe</th></center>
	</tr>
{% endblock %}
{% block MostrarDatos %}
    {% for usuario in lista_usuarios %}
		    <tr>
		        <td>{{ usuario.id }}</td>
		        <td>{{ usuario.nombre }}</td>
                <td>
                    <form action="/proyecto/usuario/editar/" method="post">{% csrf_token %}
                        <input type="hidden" name='codigo' value="{{ usuario.id }}" >
                        <input type="hidden" name='login' value={{ logueado.id }} >
                        <center><button type="submit" id="submitt" name="save"><img src="{{ STATIC_URL }}/Imagenes/images/edit.png" alt=""/></button></center>
                    </form>
                </td>
		        <td>
                    <form action="/proyecto/usuario/eliminar/" method="post">{% csrf_token %}
                        <input type="hidden" name='codigo' value="{{ usuario.id }}" >
                        <input type="hidden" name='login' value={{ logueado.id }} >
                        <center><button type="submit" id="submitt" name="save"><img src="{{ STATIC_URL }}/Imagenes/images/trash.png" alt=""/></button></center>
                    </form>
		        </td>
                <td>
                    <form action="/proyecto/usuario/mostrar/" method="post">{% csrf_token %}
                        <input type="hidden" name='codigo' value="{{ usuario.id }}" >
                        <input type="hidden" name='login' value={{ logueado.id }} >
                        <center><button type="submit" id="submitt" name="save"><img src="{{ STATIC_URL }}/Imagenes/images/infor.png" alt=""/></button></center>
                    </form>
		        </td>
		    </tr>
    {% endfor %}
{% endblock %}
{% block Botones%}
    <form action= "/proyecto/usuario/crear/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="Crear" id="submitt">
    </form>
    <form action="/proyecto/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="<Menú Inicio" id="submitt"><br>
    </form>
{% endblock %}