{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Crear Rol::{% endblock %}
{% block TituloMenu %} CREAR ROL {% endblock %}
{% block TituloOperacion %} Rol Creado {% endblock %}
{% block DatosOperacion %}
    <div align="center"><h3>El rol se cre&oacute exitosamente. </h3></div><img src="{{ STATIC_URL }}/Imagenes/images/valid.png" alt=""/>
{% endblock %}
{% block Botones %}
    <form action="/proyecto/fase/rol/" method="POST"> {% csrf_token %}
        <input type="hidden" name="proyecto" value="{{ proyecto.id }}">
        <input type="hidden" name='login' value={{ logueado.id }} >
        <div align="center"><input type="submit" id="submitt" value="Aceptar"></div>
    </form>
{% endblock %}