{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Crear Proyecto::{% endblock %}
{% block TituloMenu %} CREAR PROYECTO {% endblock %}
{% block TituloOperacion %} Proyecto Creado {% endblock %}
{% block DatosOperacion %}
    <center><h3>El proyecto se cre&oacute exitosamente. </h3></center>
{% endblock %}
{% block Botones %}
    <form action="/proyecto/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <center><input type="submit" value="Aceptar" id="submitt"></center>
    </form>
{% endblock %}