{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}:Informe Proyecto:::{% endblock %}
{% block TituloMenu %} INFORME DEL PROYECTO {% endblock %}
{% block TituloOperacion %} Datos del Proyecto {% endblock %}
{% block DatosOperacion %}
    <fieldset>
        <dl><dt><label>Codigo:</label></dt><dt>{{ proyecto.id }}</dt></dl>
        <dl><dt><label>Nombre:</label></dt><dt>{{ proyecto.nombre }}</dt></dl>
        <dl><dt><label>Presupuesto:</label></dt><dt>{{ proyecto.presupuesto }}</dt></dl>
        <dl><dt><label>Costo Temporal:</label></dt><dt>{{ proyecto.costoTemporal }}</dt></dl>
        <dl><dt><label>Costo Monetario:</label></dt><dt>{{ proyecto.costoMonetario }}</dt></dl>
        <dl><dt><label>Numero de Fase:</label></dt><dt>{{ proyecto.numeroFase }}</dt></dl>
        <dl><dt><label>Fecha Incio:</label></dt><dt>{{proyecto.fechaInicio }}</dt></dl>
        <dl><dt><label>Fecha Fin:</label></dt><dt>{{ proyecto.fechaFin }}</dt></dl>
    </fieldset>
{% endblock %}
{% block Botones %}
    <form action="/proyecto/" method="POST">{% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <center><input type="submit" value="aceptar" id="submitt"></center>
    </form>
{% endblock %}
