{% extends 'PlantillaBaseListas.html' %}
{% block poup  %}

     <body onload="mostrarVentana()">
    <!-- aqui hay que poner el el if para controlar li existe solicitud pendiente y si el usuario es miembro de comite-->
        <div  id="miVentana" style="position: fixed; width: 300px; height: 150px; top: 0; left: 0;
         font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal;
         border: 1px solid #ccc; background-color: #C32727; color: #000000; display:none; border-radius: 8px 8px 8px 8px;">
            <br>
            <div> <center><h1>ATENCION!!!</h1></center></div>
            <center><h4>Existe Solicitud de Cambio Pendiente.</h4></center>
            <center>
                <input id="submitt" onclick="ocultarVentana();" name="btnAceptar" size="20" type="button" value="Revisar" />
                <input id="submitt" onclick="ocultarVentana();" name="btnAceptar" size="20" type="button" value="Recordar mas tarde" />
            </center>
        </div>
    </body>

{% endblock %}
{% block title %}::Menu Inicio::{% endblock %}
{% block TituloMenu %} BIENVENIDOS, ¡MENU INICIO! {% endblock %}
{% block MigasDePan %}>>>Inicio{% endblock %}
{% block TituloLista %} Lista de Proyectos {% endblock %}
{% block Columnas %}
    <tr>
        <th scope="col" class="rounded">Nro.</th>
		<th scope="col" class="rounded">Nombre</th>
		<th scope="col" class="rounded">Estado</th>
		<th scope="col" class="rounded">Lider</th>
		<th scope="col" class="rounded">Eliminar</th>
        <th scope="col" class="rounded">Informe</th>
        <th scope="col" class="rounded">Inicializar</th>
        <th scope="col" class="rounded">Ingresar</th>
	</tr>
{% endblock %}
{% block MostrarDatos%}
    {% for proyecto in lista_proyectos %}
            {%  for usuario in proyecto.miembros.all %}
                {% ifequal usuario.id logueado.id %}
		    	    <tr>
                        <td>{{ proyecto.id }}</td>
                        <td>{{ proyecto.nombre }}</td>
                        <td>{{ proyecto.estado }}</td>
                        <td>{{ proyecto.lider }}</td>
                        <td>
                            <form action= "/proyecto/eliminar/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/trash.png"/></button></div>
                            </form>
                        </td>
                        <td>
                            <form action= "/proyecto/informe/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/infor.png" /></button></div>
                            </form>
                        </td>
                        <td>
                            <form action= "/proyecto/inicializar/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id}} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/arrow_refresh.png"/></button></div>
                            </form>
                        </td>
                        <td>
                            <form action= "/proyecto/fase/" method="post"> {% csrf_token %}
                                <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                                <input type="hidden" name='login' value={{ logueado.id }} >
                                <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/ingresar1.png"/></button></div>
                            </form>
                        </td>
                    </tr>
                {% endifequal %}
            {% endfor %}
    {% endfor %}
{% endblock %}
{% block Botones %}
    <form action= "/proyecto/usuario/" method="post"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
     	<input type="submit" value="Administrar Usuarios" id="submitt">
    </form>
    <form action= "/proyecto/crear/" method="post"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
     	<input type="submit" value="Crear Proyecto" id="submitt">
    </form>
{% endblock %}