{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Votar en Solicitud Confirmar::{% endblock %}
{% block TituloMenu %} VOTAR EN SOLICITUD }}{% endblock %}
{% block TituloOperacion %} Voto realizado {% endblock %}
{% block DatosOperacion %}
    <div align="center"><h3>Su voto se ha guardado exitosamente. </h3></div><img src="{{ STATIC_URL }}/Imagenes/images/valid.png" alt=""/>
{% endblock %}
{% block Botones %}
   <form action="/proyecto/fase/item/solicitudDeCambio/" method="post">{% csrf_token %}
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <div align="center"><input type="submit" id="submitt" value="Aceptar"></div>
   </form>
{% endblock %}