{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Crear Linea Base::{% endblock %}
{% block TituloMenu %} CREAR LINEA BASE - {{ fase.nombre }} {% endblock %}
{% block TituloOperacion %} Linea base Creada {% endblock %}
{% block DatosOperacion %}
    <div align="center"><h3>La linea base de creó exitosamente. </h3></div><img src="{{ STATIC_URL }}/Imagenes/images/valid.png" />
{% endblock %}
{% block Botones %}
    <form action="/proyecto/fase/item/lineaBase/" method="POST"> {% csrf_token %}
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <div align="center"><input type="submit" id="submitt" value="Aceptar"></div>
    </form>
{% endblock %}