{% extends 'PlantillaBaseListas.html' %}
{% block title %} ::Menu Relacion:: {% endblock %}
{% block TituloMenu %} MENU Relacion - {{ item.nombre }}{% endblock %}
{% block MigasDePan %}>>>Inicio>>Proyecto: {{ proyecto.nombre }}>>Fase: {{ fase.nombre }}>>Ítems: {{ item.nombre }}>>Relaciones{% endblock %}
{% block TituloLista %} Lista de Relaciones {% endblock %}
{% block Columnas %}
    <tr>
		<th scope="col" class="rounded">Antecesor/Padre</th>
		<th scope="col" class="rounded">Sucesor/Hijo</th>
        <th scope="col" class="rounded">Tipo</th>
        <th scope="col" class="rounded">Fase/s</th>
        <th scope="col" class="rounded">Eliminar</th>
	</tr>
{% endblock %}
{% block MostrarDatos %}
    {% for relacion in lista_relaciones %}
        {% if relacion.item2.activo %}
        <tr>
            <td>{{ relacion.item1.nombre }}</td>
            <td>{{ relacion.item2.nombre }}</td>
            <td>{{ relacion.tipo }}</td>
            <td>
                {% ifequal relacion.tipo 'A/S' %}
                    {{ relacion.item1.fase.nombre }} / {{ relacion.item2.fase.nombre }}
                {% endifequal %}
                {% ifequal relacion.tipo 'P/H' %}
                    {{ relacion.item1.fase.nombre }}
                {% endifequal %}
            </td>
            <td>
                <form action="/proyecto/fase/item/relacion/eliminarRelacion/" method="post">{% csrf_token %}
                    <input type="hidden" name='item' value={{ item.id }} >
                    <input type="hidden" name='relacion' value={{ relacion.id }} >
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }}>
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/trash.png"/></button></div>
                </form>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block Botones %}
    <form action="/proyecto/fase/item/relacion/establecerRelacionAS/" method="POST"> {% csrf_token %}
        <input type="hidden" name='item' value={{ item.id }} >
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="Establecer Relacion A/S">
    </form>
    <form action="/proyecto/fase/item/relacion/establecerRelacionPH/" method="POST"> {% csrf_token %}
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='item' value={{ item.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="Establecer Relacion P/H">
    </form>
    <form action="/proyecto/fase/item/" method="POST"> {% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='item' value={{ item.id }} >
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="<Atras" >
    </form>
{% endblock %}