{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Agregar Atributo Confirmar::{% endblock %}
{% block TituloMenu %} AGREGAR ATRIBUTO {% endblock %}
{% block TituloOperacion %} Atributo Agregado {% endblock %}
{% block DatosOperacion %}
    <center><h3>El atributo se agregó exitosamente. </h3></center>
{% endblock %}
{% block Botones %}
   <form action="/proyecto/fase/tipoDeItem/atributo/" method="post">{% csrf_token %}
       <input type="hidden" name='tipo_de_item' value={{ tipo_de_item.id }}>
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <center><input type="submit" value="Aceptar"></center>
   </form>
{% endblock %}