{% extends 'PlantillaBaseListas.html' %}
{% block title %} ::Menu Atributo:: {% endblock %}
{% block TituloMenu %} MENU ATRIBUTO - {{ item.nombre }}{% endblock %}
{% block MigasDePan %}>>>Inicio>>Proyecto: {{ proyecto.nombre }}>>Fase: {{ fase.nombre }}>>Ítem: {{ item.nombre }}>>Atributos{% endblock %}
{% block TituloLista %} Lista de atributos {% endblock %}
{% block Columnas %}
    <tr>
		<th scope="col" class="rounded">Nombre</th>
		<th scope="col" class="rounded">Descripcion</th>
        <th scope="col" class="rounded">Tipo</th>
        <th scope="col" class="rounded">Valor</th>
        <th scope="col" class="rounded">Completar</th>
        <th scope="col" class="rounded">Eliminar</th>

	</tr>
{% endblock %}
{% block MostrarDatos %}
    {% for atributo in lista_atributos %}
        <tr>
            <td>{{ atributo.nombre }}</td>
            <td>{{ atributo.descripcion }}</td>
            <td>{{ atributo.tipo_de_atributo_nombre }}</td>
            {% ifequal atributo.tipo_de_atributo_tipo 'N' %}
                <td>{{ atributo.tipo_numerico }}</td>
            {% endifequal %}
            {% ifequal atributo.tipo_de_atributo_tipo 'T' %}
                <td>{{ atributo.tipo_texto }}</td>
            {% endifequal %}
            {% ifequal atributo.tipo_de_atributo_tipo 'B' %}
                    <td>{{ atributo.tipo_boolean }}</td>
            {% endifequal %}
            {% ifequal atributo.tipo_de_atributo_tipo 'F' %}
                <td>{{ atributo.tipo_fecha }}</td>
            {% endifequal %}
            <td>
                <form action="/proyecto/fase/item/atributo/completarAtributo/" method="post">{% csrf_token %}
                    <input type="hidden" name='atributo' value={{ atributo.id }}>
                    <input type="hidden" name='fase' value={{ fase.id }}>
                    <input type="hidden" name='item' value={{ item.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }}>
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/edit.png"/></button></div>
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/item/atributo/eliminar/" method="post">{% csrf_token %}
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='item' value={{ item.id }} >
                    <input type="hidden" name='atributo' value={{ atributo.id }}>
                    <input type="hidden" name='proyecto' value={{ proyecto.id }}>
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/trash.png"/></button></div>
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block Botones %}
    <form action="/proyecto/fase/item/atributo/agregarAtributo/" method="POST"> {% csrf_token %}
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='item' value={{ item.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="Agregar">
    </form>
    <form action="/proyecto/fase/item/" method="POST"> {% csrf_token %}
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="<Atras" >
    </form>
{% endblock %}