{% extends 'PlantillaBaseListas.html' %}
{% block title %} ::Menu Atributo:: {% endblock %}
{% block TituloMenu %} MENU ATRIBUTO {% endblock %}
{% block TituloLista %} Lista de atributos {% endblock %}
{% block Columnas %}
    <tr>
		<th scope="col" class="rounded">Nombre</th>
		<th scope="col" class="rounded">Descripcion</th>
        <th scope="col" class="rounded">Tipo</th>
        <th scope="col" class="rounded"></th>

	</tr>
{% endblock %}
{% block MostrarDatos %}
    {% for atributo in lista_atributos %}
        <tr>
            <td>{{ atributo.nombre }}</td>
            <td>{{ atributo.descripcion }}</td>
            <td>{{ atributo.tipo }}</td>
            <td>
                <form action="/proyecto/fase/tipoDeItem/atributo/eliminar/" method="post">{% csrf_token %}
                    <input type="hidden" name='atributo' value={{ atributo.id }}>
                    <input type="hidden" name='tipo_de_item' value={{ tipo_de_item.id }}>
                    <input type="hidden" name='proyecto' value={{ proyecto.id }}>
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="submit" value="Eliminar">
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block Botones %}
    <form action="/proyecto/fase/tipoDeItem/atributo/agregarAtributo/" method="POST"> {% csrf_token %}
        <input type="hidden" name='tipo_de_item' value={{ tipo_de_item.id }}>
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="Agregar">
    </form>
    <form action="/proyecto/fase/tipoDeItem/" method="POST"> {% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="<Atras" >
    </form>
{% endblock %}