{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Completar Atributo::{% endblock %}
{% block TituloMenu %} COMPLETAR ATRIBUTO {% endblock %}
{% block TituloOperacion %} Atributo - {{ atributo.nombre }}{% endblock %}
{% block DatosOperacion %}
    {% ifequal item.estado  'B' %}<h3><div align="center"><img src="{{ STATIC_URL }}/Imagenes/images/warning.png" /><span style="color: #FCB502">{{ aviso }}</span><img src="{{ STATIC_URL }}/Imagenes/images/warning.png" /></div></h3>{% endifequal %}
    <form action="/proyecto/fase/item/atributo/completarAtributo/confirmar/" method="post">{% csrf_token %}
        <fieldset>
            {% ifequal atributo.tipo_de_atributo_tipo 'N' %}
                <dl>
                    <dt><label>Valor tipo 'numerico':</label></dt>
                    <dd><input type="number" value={{ atributo.tipo_numerico }} name="tipo_numerico" min=1 required/></dd>
                </dl>
            {% endifequal %}
            {% ifequal atributo.tipo_de_atributo_tipo 'T' %}
                <dl>
                    <dt><label>Valor tipo 'texto':</label></dt>
                    <dd><input type="text" value={{ atributo.tipo_texto }} name="tipo_texto" required/></dd>
                </dl>
            {% endifequal %}
            {% ifequal atributo.tipo_de_atributo_tipo 'B' %}
                    <center><dl><dd><input type="checkbox" name="tipo_buleano"> tipo boolean</dd></dl></center>
            {% endifequal %}
            {% ifequal atributo.tipo_de_atributo_tipo 'F' %}
                <dl>
                    <dt><label>Valor tipo 'fecha':</label></dt>
                    <dd><input type="date" value={{ atributo.tipo_fecha }} name="tipo_fecha" required/></dd>
                </dl>
            {% endifequal %}
        </fieldset>
            <input type="hidden" name='atributo' value={{ atributo.id }}>
            <input type="hidden" name='item' value={{ item.id }} >
            <input type="hidden" name="fase" value={{ fase.id }} >
            <input type="hidden" name='proyecto' value={{ proyecto.id }} >
            <input type="hidden" name='login' value={{ logueado.id }} >
            <input type="submit" id="submitt" value="Guardar">
    </form>
    <form action="/proyecto/fase/item/atributo/" method="POST"> {% csrf_token %}
        <input type="hidden" name='item' value={{ item.id }} >
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="Cancelar">
    </form>
{% endblock %}
{% block Botones%}
{% endblock %}