{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Completar Atributo::{% endblock %}
{% block TituloMenu %}
    {% ifequal item.estado 'R' %} SOLICITUD GENERADA {% endifequal %}
    {% ifnotequal item.estado 'R' %} COMPLETAR ATRIBUTO {% endifnotequal %}
{% endblock %}
{% block TituloOperacion %} Atributo Completado {% endblock %}
{% block DatosOperacion %}
    {% ifnotequal item.estado 'R' %}
        <div align="center"><h3>El atributo se ha completado exitosamente. </h3></div><img src="{{ STATIC_URL }}/Imagenes/images/valid.png" />
    {% endifnotequal %}
    {% ifequal item.estado 'R' %}
        <div align="center"><h3>La solicitud ha sido generada - Aguarde la Aprobacion </h3></div><img src="{{ STATIC_URL }}/Imagenes/images/hourglass.png" />
    {% endifequal %}
{% endblock %}
{% block Botones %}
   <form action="/proyecto/fase/item/atributo/" method="post">{% csrf_token %}
        <input type="hidden" name='item' value={{ item.id }} >
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <div align="center"><input type="submit" id="submitt" value="Aceptar"></div>
   </form>
{% endblock %}