{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Completar Atributo::{% endblock %}
{% block TituloMenu %} COMPLETAR ATRIBUTO {% endblock %}
{% block TituloOperacion %} Atributo - {{ atributo.nombre }}{% endblock %}
{% block DatosOperacion %}
    <form action="/proyecto/fase/item/atributo/completarAtributo/confirmar/" method="post">{% csrf_token %}
        <fieldset>
            {% ifequal atributo.tipo_de_atributo_tipo 'N' %}
                <dl>
                    <dt><label>Valor tipo 'numerico':</label></dt>
                    <dd><input type="number" name="tipo_numerico" min=1 required/></dd>
                </dl>
            {% endifequal %}
            {% ifequal atributo.tipo_de_atributo_tipo 'T' %}
                <dl>
                    <dt><label>Valor tipo 'texto':</label></dt>
                    <dd><input type="text" name="tipo_texto" required/></dd>
                </dl>
            {% endifequal %}
            {% ifequal atributo.tipo_de_atributo_tipo 'B' %}
                    <center><dl><dd><input type="checkbox" name="tipo_buleano"> tipo boolean</dd></dl></center>
            {% endifequal %}
            {% ifequal atributo.tipo_de_atributo_tipo 'F' %}
                <dl>
                    <dt><label>Valor tipo 'fecha':</label></dt>
                    <dd><input type="date" name="tipo_fecha" required/></dd>
                </dl>
            {% endifequal %}
        </fieldset>
        <table>
            <input type="hidden" name='atributo' value={{ atributo.id }}>
            <input type="hidden" name='item' value={{ item.id }} >
            <input type="hidden" name="fase" value={{ fase.id }} >
            <input type="hidden" name='proyecto' value={{ proyecto.id }} >
            <input type="hidden" name='login' value={{ logueado.id }} >
            <input type="submit" value="Completar">
        </table>
    </form>
{% endblock %}
{% block Botones%}
    <form action="/proyecto/fase/item/atributo/" method="POST"> {% csrf_token %}
        <input type="hidden" name='item' value={{ item.id }} >
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="<Atras">
    </form>
{% endblock %}