{% extends 'PlantillaBaseListas.html' %}
{% block title %} ::Menu Proyecto:: {% endblock %}
{% block TituloMenu %} MENU PROYECTO - {{ proyecto.nombre }}{% endblock %}
{% block MigasDePan %}>>>Inicio>>Proyecto: {{ proyecto.nombre }}>>Fases{% endblock %}
{% block TituloLista %} Lista de fases {% endblock %}
{% block Columnas %}
    <tr>
        <th scope="col" class="rounded">Numero</th>
		<th scope="col" class="rounded">Nombre</th>
		<th scope="col" class="rounded">Estado</th>
        <th scope="col" class="rounded">Inicio</th>
        <th scope="col" class="rounded">Fin</th>
        <th scope="col" class="rounded">Inicializar</th>
        <th scope="col" class="rounded">Informe</th>
        <th scope="col" class="rounded">Cerrar</th>
        <th scope="col" class="rounded">Ingresar</th>
	</tr>
{% endblock %}
{% block MostrarDatos %}
    {% for fase in lista_fases %}
        <tr>
            <td>{{ fase.numeroSecuencia }}</td>
            <td>{{ fase.nombre }}</td>
            <td>{{ fase.estado }}</td>
            <td>{{ fase.fechaInicio }}</td>
            <td>{{ fase.fechaFin }}</td>
            <td>
                <form action="/proyecto/fase/editar/" method="post">{% csrf_token %}
                    <input type="hidden" name='fase' value="{{ fase.id }}" >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/arrow_refresh.png"/></button></div>
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/informe/" method="post">{% csrf_token %}
                    <input type="hidden" name='fase' value="{{ fase.id }}" >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/infor.png" /></button></div>
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/cerrar/" method="post">{% csrf_token %}
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='fase' value="{{ fase.id }}" >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/lock.png" /></button></div>
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/item/" method="post">{% csrf_token %}
                    <input type="hidden" name='fase' value="{{ fase.id }}" >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/ingresar1.png"/></button></div>
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block Botones %}
    <form action="/proyecto/fase/rol/" method="POST">{% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="Administracion Roles">
    </form>
    <form action="/proyecto/fase/tipoDeItem/" method="POST"> {% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="Administrar Tipo de Ítem" >
    </form>
    <form action="/proyecto/fase/graficar/" method="POST"> {% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="Grafo del Proyecto"><br>
    </form><br>
    <form action="/proyecto/fase/asignar_nuevos_miembros/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="submit" id="submitt" value="Asignar Nuevos Miembros">
    </form>
    <form action="/proyecto/fase/finalizar_proyecto/" method="POST"> {% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='fases' value={{ lista_fases }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="Finalizar proyecto">
    </form>
    <form action="/proyecto/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="<Menú Inicio"><br>
    </form>
{% endblock %}