{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Finalizar Proyecto::{% endblock %}
{% block TituloMenu %} FINALIZAR PROYECTO{% endblock %}
{% block TituloOperacion %} Proyecto Finalizado {% endblock %}
{% block DatosOperacion %}
    <div align="center"><h3>Los cambios han sido guardados. </h3></div><img src="{{ STATIC_URL }}/Imagenes/images/valid.png" />
{% endblock %}
{% block Botones %}
    <form action="/proyecto/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <div align="center"><input type="submit" id="submitt" value="Aceptar"></div>
    </form>
{% endblock %}