{% extends 'PlantillaBase.html' %}
{% block title %} ::Crear un nuevo usuario::{% endblock %}
{% block Content %}
    <h1> Crear Usuario </h1>
    <form action="/inicio/usuario/" method="post">{% csrf_token %}
        <div id="login-box-name" style="margin-top: 20px"> Username: </div>
        <div id="login-box-field" style="margin-top: 20px">
            <input name="user" class="form-login" title="Username" value="" size="30" maxlength="2048"/>
        </div>
        <div id="login-box-name" style="margin-top: 20px"> Nombre: </div>
        <div id="login-box-field" style="margin-top: 20px">
            <input name="nombre" class="form-login" title="Nombre" value="" size="30" maxlength="2048"/>
        </div>
        <div id="login-box-name" style="margin-top: 20px"> Apellido: </div>
        <div id="login-box-field" style="margin-top: 20px">
            <input name="apellido" class="form-login" title="Apellido" value="" size="30" maxlength="2048"/>
        </div>
        <div id="login-box-name" style="margin-top: 20px"> Cedula: </div>
        <div id="login-box-field" style="margin-top: 20px">
            <input name="cedula" class="form-login" title="Cedula" value="" size="30" maxlength="2048"/>
        </div>
        <div id="login-box-name" style="margin-top: 20px"> Email: </div>
        <div id="login-box-field" style="margin-top: 20px">
            <input name="email" class="form-login" title="Email" value="" size="30" maxlength="2048"/>
        </div>
        <div id="login-box-name" style="margin-top: 20px"> Contraseña: </div>
        <div id="login-box-field" style="margin-top: 20px">
            <input name="pass" type="password" class="form-login" title="Password" value="" size="30" maxlength="2048"/>
        </div>
        <input type="submit" value="Crear">
    </form>
    <form action="/inicio/usuario/" method="get">{% csrf_token %}
        <input type="submit" value="<Atrás">
    </form>
{% endblock %}