{% extends 'PlantillaBase.html' %}
{% block title %}::Cambio Estado::{% endblock %}
{% block Content %}
    <div id="main_container">
		    <div class="header">
                <div class="right_header"> <!--a href="#" class="messages">Messages</a-->
                <form action="/" method="get">{% csrf_token %}
                    <u> Usuario</u>:  {{ logueado.nick }}  ||
                    <a href="/" class="logout">cerrar sesión</a>
                </form>
            </div>
		    </div>
    		<div class="main_content">
    			<div style="text-align: center;"><b><h1><font color="white">ELIMINAR PROYECTO</font></h1></b></div>
 			    <div class="center_content">
   				    <div class="right_content">
				    	<br>
					    <br>
				        <center><h3>El proyecto pasó a modo &lt;&lt;&lt;INACTIVO&gt;&gt;&gt;</h3></center>
                    </div>   <!--end of center content -->
    			    <div class="clear"></div>

    		    </div> <!--end of main content-->
                <form action="/inicio/" method="POST"> {% csrf_token %}
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <center><input type="submit" value="Aceptar"></center>
                </form>
		    </div>

    </div>
{% endblock %}