{% extends 'PlantillaBase.html' %}
{% block title %}:Informe Proyecto:::{% endblock %}
{% block import %}
    <script type="text/javascript" src="{{ STATIC_URL }}jconfirmaction.jquery.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.ask').jConfirmAction();
		});
	</script>
	<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}niceforms.js"></script>
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}niceforms-default.css" />
{% endblock %}

{% block Content %}
    <div id="main_container">
		<div class="header">
            <div class="right_header"> <!--a href="#" class="messages">Messages</a-->
                <form action="/" method="get">{% csrf_token %}
                    <u> Usuario</u>:  {{ logueado.nick }}  ||
                    <a href="/" class="logout">cerrar sesión</a>
                </form>
            </div>
    	</div>

    	<div class="main_content">
    		<div style="text-align: center;"><b><h1><font color="white">DATOS DE PROYECTO</font></h1></b></div>
 			<div class="center_content">
        		<div class="right_content">

                  		<table id="rounded-corner" summary="2007 Major IT Companies' Profit">
							<form action="/inicio/" method="post" class="niceform">{% csrf_token %}
	 			                <fieldset>
		                    	    <dl>
	        	        	            <dt><label>Codigo:</label></dt>
	        	        	            <dt>{{ proyecto.codigo }}</dt>
	        	        	        </dl>
                                    <dl>
	        	        	            <dt><label>Nombre:</label></dt>
	        	        	            <dt>{{ proyecto.nombre }}</dt>
	        	        	        </dl>
					                <dl>
	        	        	            <dt><label>Presupuesto:</label></dt>
	        	        	            <dt>{{ proyecto.presupuesto }}</dt>
	        	        	        </dl>
                                    <dl>
	        	        	            <dt><label>Costo Temporal:</label></dt>
	        	        	            <dt>{{ proyecto.costoTemporal }}</dt>
	        	        	        </dl>
                                    <dl>
	        	        	            <dt><label>Costo Monetario:</label></dt>
	        	        	            <dt>{{ proyecto.costoMonetario }}</dt>
	        	        	        </dl>
                                    <dl>
	        	        	            <dt><label>Numero de Fase:</label></dt>
	        	        	            <dt>{{ proyecto.numeroFase }}</dt>
	        	        	        </dl>
					                <dl>
	        	        	            <dt><label>Fecha Incio:</label></dt>
	        	        	            <dt>{{proyecto.fechaInicio }}</dt>
	        	        	        </dl>

					                <dl>
	        	        	            <dt><label>Fecha Fin:</label></dt>
	        	        	            <dt>{{ proyecto.fechaFin }}</dt>
	        	        	        </dl>

                                </fieldset>

                            </form>
						</table>
                        <form action="/inicio/" method="POST">{% csrf_token %}
                            <input type="hidden" name='login' value={{ logueado.id }} >
                            <input type="submit" value="<Atrás">
                        </form>

  	               </div>   <!--end of center content -->
    	    <div class="clear"></div>
        </div> <!--end of main content-->
    </div>
</div>

{% endblock %}