{% extends 'PlantillaBase.html' %}
{% block title %}::Menu Inicio::{% endblock %}
{% block import %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}niceforms-default.css" />
{% endblock %}
{% block Content %}
    <div id="main_container">
        <div class="header">
            <div class="right_header"> <!--a href="#" class="messages">Messages</a-->
                <form action="/" method="get">{% csrf_token %}
                    <u> Usuario</u>:  {{ logueado.nick }}  ||
                    <a href="/" class="logout">cerrar sesión</a>
                </form>
            </div>
    	</div>
        <div class="main_content">
            <div style="text-align: center;"><b><h1><font color="white">BIENVENIDOS, MENU INICIO!</font></h1></b></div>
 			<div class="center_content">
    		    <div class="left_content">
                    <div class="sidebar_box">
         				<div class="sidebar_box_content">
         			        <h3>GR_05</h3>
         				    <img src="{{ STATIC_URL }}images/info.png" alt="" title="" class="sidebar_icon_right" />
         				    <p>ESTE EQUIPO ES EL MEJOR DEL MUNDO!!!</p>
      					</div>
         		    </div>
    			</div>
                <div class="right_content">
					<br>
					<br>
				    <h2>Lista de Proyectos</h2>
                  	<table id="rounded-corner" summary="2007 Major IT Companies' Profit">
    					<thead>
    					    <tr>

       							<th scope="col" class="rounded">Nro.</th>
							    <th scope="col" class="rounded">Nombre</th>
							    <th scope="col" class="rounded">Estado</th>
							    <th scope="col" class="rounded">Lider</th>
							    <th scope="col" class="rounded"></th>
                                <th scope="col" class="rounded"></th>
                                <th scope="col" class="rounded"></th>
                                <th scope="col" class="rounded"></th>
		        			</tr>
 						</thead>
						<tbody>
                        {% for proyecto in lista_proyectos %}
                            {% if proyecto.activo %}
                                {%  for usuario in proyecto.usuarios.all %}
                                    {% ifequal usuario.id logueado.id %}
		    	                        <tr>

                                        <td>{{ proyecto.codigo }}</td>
                                        <td>{{ proyecto.nombre }}</td>
                                        <td>{{ proyecto.estado }}</td>
                                        <td>{{ proyecto.lider }}</td>
                                        <td><form action= "/inicio/eliminar_proyecto/" method="post"> {% csrf_token %}
                                                <input type="hidden" name='proyecto' value={{ proyecto.codigo }} >
                                                <input type="hidden" name='login' value={{ logueado.id }} >
                                                <input type="submit" value="Eliminar">
                                            </form>
                                        </td>
                                        <td><form action= "/inicio/InformeProyecto/" method="post"> {% csrf_token %}
                                                <input type="hidden" name='proyecto' value={{ proyecto.codigo }} >
                                                <input type="hidden" name='login' value={{ logueado.id }} >
                                                <input type="submit" value="Informe">
                                            </form>
                                        </td>
                                        <td><form action= "/inicio/InicializarProyecto/" method="post"> {% csrf_token %}

                                                <input type="hidden" name='proyecto' value={{ proyecto.codigo }} >
                                                <input type="hidden" name='login' value={{ logueado.id }} >
                                                <input type="submit" value="Inicializar">
                                            </form>
                                        </td>
                                        <td><form action= "/inicio/MenuProyecto/" method="post"> {% csrf_token %}
                                                <input type="hidden" name='proyecto' value={{ proyecto.codigo }} >
                                                <input type="hidden" name='login' value={{ logueado.id }} >
                                                <input type="submit" value="Ingresar>">
                                            </form>
                                        </td>

		                                </tr>
                                    {% endifequal %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </tbody>


	                </table>
                <div style="text-align: center;"><span style="color:#FF0000">{{ error }}</span></div>
	                <!--a href="#" class="bt_green"><span class="bt_green_lft"></span><strong>Crear Proyecto</strong><span class="bt_green_r"></span></a>
     	            <a href="#" class="bt_blue"><span class="ubt_blue_lft"></span><strong>Ingresar al Proyecto</strong><span class="bt_blue_r"></span></a>
     	            <a href="#" class="bt_blue"><span class="bt_blue_lft"></span><strong>Generar Informe</strong><span class="bt_blue_r"></span></a-->
                    <table>
                    <form action= "/inicio/usuario/" method="post"> {% csrf_token %}
                        <input type="hidden" name='login' value={{ logueado.id }} >
     	                <input type="submit" value="Administrar Usuarios">
                    </form>
                    <form action= "/inicio/crear_proyecto/" method="post"> {% csrf_token %}
                        <input type="hidden" name='login' value={{ logueado.id }} >
     	                <input type="submit" value="Crear Proyecto">
                    </form>
                    </table>
  	        </div> <!right-content>
            <div class="clear"> </div>
        </div>
    </div>
{% endblock %}