{% extends 'PlantillaBase.html' %}
{% block title %} ::LOGIN:: {% endblock %}
{% block import %}
    <script type="text/javascript" src="{{ STATIC_URL }}jconfirmaction.jquery.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.ask').jConfirmAction();
		});
	</script>
	<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}niceforms.js"></script>
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}niceforms-default.css" />
{% endblock %}
{% block Content %}
<div id="main_container">
    <br><br><br><br><br><br><br><br>
    <div class="login_form">
        <h3>Panel de Login</h3>
        <form action= "/inicio/" method="POST" class="niceform"> {% csrf_token %} <!Lo hacemos como metodo post.. Se encarga la clase inicio en su metodo post>
               <fieldset>
                   <dl>
                       <dt><label for="email">Usuario:</label></dt>
	        	       <dd><input type="text" name="user" id="" size="30" /></dd>
                   </dl>
                   <dl>
	                   <dt><label for="password">Contraseña:</label></dt>
	             	   <dd><input name="pass" type="password" name="" id="" size="30" /></dd>
	           	   </dl>
                   <div style="text-align: center;"><span style="color:#FF0000">{{ error }}</span></div>
                   <br><br>
                   <dl class="submit">
	               		<input type="submit" name="submit" id="submit" value="Enter" />
	               </dl>
               </fieldset>
        </form>
    </div>
</div>
{% endblock %}
