{% extends 'PlantillaBase.html' %}
{% block title %}:Mostrar:::{% endblock %}
{% block import %}
    <script type="text/javascript" src="{{ STATIC_URL }}jconfirmaction.jquery.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.ask').jConfirmAction();
		});
	</script>
	<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}niceforms.js"></script>
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}niceforms-default.css" />
{% endblock %}

{% block Content %}
    <div id="main_container">
		<div class="header">
            <div class="right_header"> <!--a href="#" class="messages">Messages</a-->
                <form action="/" method="get">{% csrf_token %}
                    <u> Usuario</u>:  {{ logueado.nick }}  ||
                    <a href="/" class="logout">cerrar sesión</a>
                </form>
            </div>
    	</div>

    	<div class="main_content">
    		<div style="text-align: center;"><b><h1><font color="white">DATOS DE USUARIO</font></h1></b></div>
 			<div class="center_content">
        		<div class="right_content">

                  		<table id="rounded-corner" summary="2007 Major IT Companies' Profit">
							<form action="/inicio/usuario/" method="post" class="niceform">{% csrf_token %}
	 			                <fieldset>
		                    	    <dl>
	        	        	            <dt><label>Usuario:</label></dt>
	        	        	            <dt>{{ usuario.nick }}</dt>
	        	        	        </dl>
					                <dl>
	        	        	            <dt><label>Nombre:</label></dt>
	        	        	            <dt>{{ usuario.nombre }}</dt>
	        	        	        </dl>
					                <dl>
	        	        	            <dt><label>Apellido:</label></dt>
	        	        	            <dt>{{ usuario.apellido }}</dt>
	        	        	        </dl>
					                <dl>
	        	        	            <dt><label>CI:</label></dt>
	        	        	            <dt>{{ usuario.cedula }}</dt>
	        	        	        </dl>
					                <dl>
	        	        	            <dt><label for="email">Email:</label></dt>
	        	        	            <dt>{{ usuario.email }}</dt>
	        	        	        </dl>

                                </fieldset>

                            </form>
						</table>
                        <form action="/inicio/usuario/" method="POST">{% csrf_token %}
                            <input type="hidden" name='login' value={{ logueado.id }} >
                            <input type="submit" value="<Atrás">
                        </form>
                        <!--a href="#" class="bt_green"><span class="bt_green_lft"></span><strong>canselar</strong><span class="bt_green_r"></span></a>
     	                <a href="#" class="bt_blue"><span class="bt_blue_lft"></span><strong>aceptar</strong><span class="bt_blue_r"></span></a-->
  	               </div>   <!--end of center content -->
    	    <div class="clear"></div>
        </div> <!--end of main content-->
    </div>
</div>

{% endblock %}