{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Eliminar Tipo de Atributo::{% endblock %}
{% block TituloMenu %} ELIMINAR TIPO DE ATRIBUTO - {{ proyecto.nombre }}{% endblock %}
{% block TituloOperacion %} Tipo de Atributo Eliminado {% endblock %}
{% block DatosOperacion %}
    <div align="center"><h3>Se elimino el tipo de atributo &lt;&lt;&lt;{{ tipo_de_atributo.nombre }}&gt;&gt;&gt;</h3></div><img src="{{ STATIC_URL }}/Imagenes/images/valid.png" alt=""/>
{% endblock %}
{% block Botones %}
    <form action="/proyecto/fase/tipoDeItem/tipoDeAtributo/" method="post">{% csrf_token %}
        <input type="hidden" name='tipo_de_item' value={{ tipo_de_item.id }}>
        <input type="hidden" name='proyecto' value={{ proyecto.id }}>
        <input type="hidden" name='login' value={{ logueado.id }} >
        <div align="center"><input type="submit" id="submitt" value="Aceptar"></div>
    </form>
{% endblock %}