{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Editar tipo de ítem::{% endblock %}
{% block TituloMenu %} EDITAR TIPO DE ÍTEM - {{ proyecto.nombre }}{% endblock %}
{% block TituloOperacion %} Formulario tipo de Ítem {% endblock %}
{% block DatosOperacion %}
    <form action="/proyecto/fase/tipoDeItem/editar/confirmar/" method="post">{% csrf_token %}
        <fieldset>
            <dl>
                <dt><label>Nombre:</label></dt>
                <dd><input type="text" name="nombre_tipo_de_item" size="54"  required value="{{ tipo_de_item.nombre }}"/></dd>
            </dl>
            <dl>
                <dt><label>Descripcion:</label></dt>
                <dd><input type="text" name="descripcion_tipo_de_item" size="54" value="{{ tipo_de_item.descripcion }}"/></dd>
            </dl>
           
        </fieldset>
            <input type="hidden" name='tipo_de_item' value={{ tipo_de_item.id }} >
            <input type="hidden" name='proyecto' value={{ proyecto.id }} >
            <input type="hidden" name='login' value={{ logueado.id }} >
            <input type="submit" id="submitt" value="Guardar">
    </form>
    <form action="/proyecto/fase/tipoDeItem/" method="POST"> {% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="Cancelar">
    </form>
{% endblock %}
{% block Botones%}
{% endblock %}