{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Editar Tipo Ítem::{% endblock %}
{% block TituloMenu %} EDITAR TIPO DE ÍTEM - {{ proyecto.nombre }}{% endblock %}
{% block TituloOperacion %} Tipo de Ítem Editado {% endblock %}
{% block DatosOperacion %}
    <div align="center"><h3>El tipo de ítem se editó exitosamente. </h3></div><img src="{{ STATIC_URL }}/Imagenes/images/valid.png" alt=""/>
{% endblock %}
{% block Botones %}
   <form action="/proyecto/fase/tipoDeItem/" method="post">{% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <div align="center"><input type="submit" id="submitt" value="Aceptar"></div>
   </form>
{% endblock %}