{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Eliminar Tipo de Ítem::{% endblock %}
{% block TituloMenu %} ELIMINAR TIPO DE ÍTEM {% endblock %}
{% block TituloOperacion %} Tipo de Ítem Eliminado {% endblock %}
{% block DatosOperacion %}
    <center><h3>Se elimino el tipo de ítem &lt;&lt;&lt;{{ tipo_de_item.nombre }}&gt;&gt;&gt;</h3></center>
{% endblock %}
{% block Botones %}
    <form action="/proyecto/fase/tipoDeItem/" method="post">{% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }}>
        <input type="hidden" name='login' value={{ logueado.id }} >
        <center><input type="submit" value="Aceptar"></center>
    </form>
{% endblock %}