{% extends 'PlantillaBaseListas.html' %}
{% block title %} ::Menu Tipo de Item:: {% endblock %}
{% block TituloMenu %} MENU TIPO DE ITEM - {{ proyecto.nombre }}{% endblock %}
{% block MigasDePan %}>>>Inicio>>Proyecto: {{ proyecto.nombre }}>>Tipos de Ítems{% endblock %}
{% block TituloLista %} Lista de tipo de item {% endblock %}
{% block Columnas %}
    <tr>
		<th scope="col" class="rounded">Nombre</th>
		<th scope="col" class="rounded">Descripcion</th>
        <th scope="col" class="rounded">Editar</th>
        <th scope="col" class="rounded">Eliminar</th>
        <th scope="col" class="rounded">Tipos de Atributo</th>
	</tr>
{% endblock %}
{% block MostrarDatos %}
    {% for tipo_de_item in lista_tipo_de_items %}
        <tr>
            <td>{{ tipo_de_item.nombre }}</td>
            <td>{{ tipo_de_item.descripcion }}</td>
            <td>
                <form action="/proyecto/fase/tipoDeItem/editar/" method="post">{% csrf_token %}
                    <input type="hidden" name='tipo_de_item' value={{ tipo_de_item.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/edit.png"/></button></div>
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/tipoDeItem/eliminar/" method="post">{% csrf_token %}
                    <input type="hidden" name='tipo_de_item' value={{ tipo_de_item.id }}>
                    <input type="hidden" name='proyecto' value={{ proyecto.id }}>
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/trash.png"/></button></div>
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/tipoDeItem/tipoDeAtributo/" method="post">{% csrf_token %}
                    <input type="hidden" name='tipo_de_item' value={{ tipo_de_item.id }}>
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/ingresar1.png"/></button></div>
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block Botones %}
    <form action="/proyecto/fase/tipoDeItem/crearTipoDeItem/" method="POST"> {% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="Crear">
    </form>
    <form action="/proyecto/fase/" method="POST"> {% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="<Atras" >
    </form>
{% endblock %}