{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Completar Atributo::{% endblock %}
{% block TituloMenu %} COMPLETAR ATRIBUTO {% endblock %}
{% block TituloOperacion %} Atributo Completado {% endblock %}
{% block DatosOperacion %}
    <center><h3>El atributo se ha completado exitosamente. </h3></center>
{% endblock %}
{% block Botones %}
   <form action="/proyecto/fase/item/atributo/" method="post">{% csrf_token %}
        <input type="hidden" name='item' value={{ item.id }} >
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <center><input type="submit" value="Aceptar"></center>
   </form>
{% endblock %}