{% extends 'PlantillaBaseListas.html' %}
{% block title %} ::Menu Fase:: {% endblock %}
{% block TituloMenu %} MENU FASE - {{ fase.nombre }}{% endblock %}
{% block TituloLista %} Lista de item {% endblock %}
{% block Columnas %}
    <tr>
		<th scope="col" class="rounded">Nombre</th>
		<th scope="col" class="rounded">Tipo</th>
        <th scope="col" class="rounded">Estado</th>
        <th scope="col" class="rounded"></th>
        <th scope="col" class="rounded"></th>
        <th scope="col" class="rounded"></th>
        <th scope="col" class="rounded"></th>
        <th scope="col" class="rounded"></th>
        <th scope="col" class="rounded"></th>
	</tr>
{% endblock %}
{% block MostrarDatos %}
    {% for item in lista_items %}
        <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.tipodeItemAsociado }}</td>
            <td>{{ item.estado }}</td>
            <td>
                <form action="/proyecto/fase/item/informe/" method="post">{% csrf_token %}
                    <input type="hidden" name='item' value={{ item.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="submit" value="Informe">
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/item/editarItem/" method="post">{% csrf_token %}
                    <input type="hidden" name='item' value={{ item.id }} >
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="submit" value="Editar">
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/item/eliminar/" method="post">{% csrf_token %}
                    <input type="hidden" name='item' value={{ item.id }} >
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }}>
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="submit" value="Eliminar">
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/item/aprobar/" method="post">{% csrf_token %}
                    <input type="hidden" name='item' value={{ item.id }} >
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="submit" value="Aprob.">
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/item/atributo/" method="post">{% csrf_token %}
                    <input type="hidden" name='item' value={{ item.id }} >
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="submit" value="Atributo">
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/item/relacion/" method="post">{% csrf_token %}
                    <input type="hidden" name='item' value={{ item.id }} >
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="submit" value="Relac.">
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block Botones %}
    <form action="/proyecto/fase/item/crearItem/" method="POST"> {% csrf_token %}
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="Crear">
    </form>
    <form action="/proyecto/fase/item/revivir/" method="post">{% csrf_token %}
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="Revivir Items">
    </form>
    <form action="/proyecto/fase/item/lineaBase/" method="post">{% csrf_token %}
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="Linea Base">
    </form>
    <form action="/proyecto/fase/" method="POST"> {% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='fases' value={{ lista_fases }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="<Atras" >
    </form>
    <form action="/proyecto/fase/item/reversionar/" method="post" class="niceform">{% csrf_token %}
        <fieldset>
            <select name="item" required>
                <option value="">Seleccionar Item/s</option>
                {% for item in lista_items %}
                    <option value={{ item.id }}>{{ item.nombre }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name='fase' value={{ fase.id }} >
            <input type="hidden" name='proyecto' value={{ proyecto.id }} >
            <input type="hidden" name='login' value={{ logueado.id }} >
            <input type="submit" value="Reversionar Item">
        </fieldset>
    </form>
{% endblock %}