{% extends 'PlantillaBaseListas.html' %}
{% block title %} ::Menu Fase:: {% endblock %}
{% block TituloMenu %} MENU FASE - {{ fase.nombre }}{% endblock %}
{% block MigasDePan %}>>>Inicio>>Proyecto: {{ proyecto.nombre }}>>Fase: {{ fase.nombre }}>>Ítems{% endblock %}
{% block TituloLista %} Lista de item {% endblock %}
{% block Columnas %}
    <tr>
		<th scope="col" class="rounded">Nombre</th>
		<th scope="col" class="rounded">Tipo</th>
        <th scope="col" class="rounded">Estado</th>
        <th scope="col" class="rounded">Informe</th>
        <th scope="col" class="rounded">Editar</th>
        <th scope="col" class="rounded">Revertir</th>
        <th scope="col" class="rounded">Aprobar</th>
        <th scope="col" class="rounded">Atributos</th>
        <th scope="col" class="rounded">Relaciones</th>
        <th scope="col" class="rounded">Eliminar</th>
	</tr>
{% endblock %}
{% block MostrarDatos %}
    {% for item in lista_items %}
        <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.tipodeItemAsociado }}</td>
            <td>{{ item.estado }}</td>
            <td>
                <form action="/proyecto/fase/item/informe/" method="post">{% csrf_token %}
                    <input type="hidden" name='item' value={{ item.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/infor.png" /></button></div>
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/item/editarItem/" method="post">{% csrf_token %}
                    <input type="hidden" name='item' value={{ item.id }} >
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/edit.png"/></button></div>
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/item/revertir/" method="post">{% csrf_token %}
                    <input type="hidden" name='item' value={{ item.id }} >
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }}>
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/revertir.png"/></button></div>
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/item/aprobar/" method="post">{% csrf_token %}
                    <input type="hidden" name='item' value={{ item.id }} >
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/tick.png"/></button></div>
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/item/atributo/" method="post">{% csrf_token %}
                    <input type="hidden" name='item' value={{ item.id }} >
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/atributo.png"/></button></div>
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/item/relacion/" method="post">{% csrf_token %}
                    <input type="hidden" name='item' value={{ item.id }} >
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/relacion.png"/></button></div>
                </form>
            </td>
            <td>
                <form action="/proyecto/fase/item/eliminar/" method="post">{% csrf_token %}
                    <input type="hidden" name='item' value={{ item.id }} >
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }}>
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/trash.png"/></button></div>
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block Botones %}
    <form action="/proyecto/fase/item/crearItem/" method="POST"> {% csrf_token %}
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="Crear">
    </form>
    <form action="/proyecto/fase/item/revivir/" method="post">{% csrf_token %}
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="Revivir Items">
    </form>
    <form action="/proyecto/fase/item/lineaBase/" method="post">{% csrf_token %}
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="Linea Base">
    </form>
    <form action="/proyecto/construccion/" method="POST"> {% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='fases' value={{ lista_fases }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="Ver Solicitudes" >
    </form>
    <form action="/proyecto/fase/" method="POST"> {% csrf_token %}
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='fases' value={{ lista_fases }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" id="submitt" value="<Atras" >
    </form>
    <form action="/proyecto/fase/item/reversionar/" method="post" class="niceform">{% csrf_token %}
        <fieldset>
            <select name="item" id="submitt" required>
                <option value="">Seleccionar Item/s</option>
                {% for item in lista_items %}
                    <option value={{ item.id }}>{{ item.nombre }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name='fase' value={{ fase.id }} >
            <input type="hidden" name='proyecto' value={{ proyecto.id }} >
            <input type="hidden" name='login' value={{ logueado.id }} >
            <input type="submit" id="submitt" value="Reversionar Item">
        </fieldset>
    </form>
{% endblock %}