{% extends 'PlantillaBaseListas.html' %}
{% block title %}::Reversionar Item::{% endblock %}
{% block TituloMenu %} REVERSIONAR ITEM - {{ item.nombre }} {% endblock %}
{% block MigasDePan %}>>>Inicio>>Proyecto: {{ proyecto.nombre }}>>Fase: {{ fase.nombre }}>>Ítem: {{ item.nombre }}>> Revercionar Ítem: Versiones{% endblock %}
{% block TituloLista %} Versiones Anteriores del Item {% endblock %}
{% block Columnas %}
    <tr>
        <th scope="col" class="rounded">Nombre</th>
        <th scope="col" class="rounded">Version</th>
        <th scope="col" class="rounded">Detalles</th>
        <th scope="col" class="rounded">Reversionar</th>
    </tr>
{% endblock %}
{% block MostrarDatos %}
    {% for item_iterator in lista_de_items %}
        <tr>
            <td>{{ item_iterator.nombre }}</td>
            <td>{{ item_iterator.version }}</td>
            <td>{{ item_iterator.version_descripcion }}</td>
            <td>
                <form action="/proyecto/fase/item/reversionar/confirmar/" method="POST">{% csrf_token %}
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='item_actual' value={{ item.id }} >
                    <input type="hidden" name='item_a_reversionar' value={{ item_iterator.id }} >
                    <div align="center"><button type="submit" id="submitt"><img src="{{ STATIC_URL }}/Imagenes/images/tick.png"/></button></div>
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block Botones %}
    <form action="/proyecto/fase/item/" method="POST"> {% csrf_token %}
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <div align="center"><input type="submit" id="submitt" value="Cancelar"></div>
    </form>
{% endblock %}