{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Revertir Item::{% endblock %}
{% block TituloMenu %} REVERTIR ITEM {% endblock %}
{% block TituloOperacion %} Item Revertido {% endblock %}
{% block DatosOperacion %}
    <div align="center"><h3>Los cambios han sido revertidos </h3></div><img src="{{ STATIC_URL }}/Imagenes/images/valid.png" />
{% endblock %}
{% block Botones %}
   <form action="/proyecto/fase/item/" method="post">{% csrf_token %}
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <div align="center"><input type="submit" id="submitt" value="Aceptar"></div>
   </form>
{% endblock %}