{% extends 'PlantillaBaseListas.html' %}
{% block title %}::Revivir Item::{% endblock %}
{% block TituloMenu %} REVIVIR ITEM {% endblock %}
{% block TituloLista %} Lista de items eliminados {% endblock %}
{% block Columnas %}
    <tr>
        <th scope="col" class="rounded">Nombre</th>
        <th scope="col" class="rounded">Ultima Version Disponible</th>
        <th scope="col" class="rounded"></th>
    </tr>
{% endblock %}
{% block MostrarDatos %}
    {% for item_iterator in lista_eliminados %}
        <tr>
            <td>{{ item_iterator.nombre }}</td>
            <td>{{ item_iterator.version }}</td>
            <td>
                <form action="/proyecto/fase/item/revivir/confirmar/" method="POST">{% csrf_token %}
                    <input type="hidden" name='fase' value={{ fase.id }} >
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='item' value={{ item_iterator.id }} >
                    <input type="submit" value="Revivir">
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block Botones %}
    <form action="/proyecto/fase/item/" method="POST"> {% csrf_token %}
        <input type="hidden" name='fase' value={{ fase.id }} >
        <input type="hidden" name='proyecto' value={{ proyecto.id }} >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="<Atras">
    </form>
{% endblock %}